<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StorePOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StorePOSMaster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>316575A21C3F54FF0097EE32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>316575BB1C3F54FF0097EE32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>316575C61C3F54FF0097EE32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F80EDD361C4129CD00D13C69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
